@keyframes fondo {
	0%{background-color: cyan;}
	40%{background-color: pink;}
	80%{background-color: green;}
	90%{background-color: purple;}
	100%{background-color: cyan;}
}

body{
	animation: fondo;
	animation-name: fondo;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.container{
	background-color: rgba(0,0,0,0.3);
	margin-top: 10%;
	border-radius: 10px;
	width: 600px;
	height: 300px;
	color: blue;

}

.input-field{
	margin-top: 5%;
	margin-left: 2%;
	margin-right: 2%;
}

.btn{
	border-radius: 10px;

}

form{
	color: White;
}


/**.fondo{
	background-image: url(../img/fondo.jpg);
	background-size: cover;
}